/* Global css */

html {
    font-size: 16px;
}

body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  color: dimgrey;
  background-color: ghostwhite;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.bigpic {
  width: 100%;
}

.left {
    padding: 2rem 1.5rem;
    width: 60%
  }

.right {
  width: 40%;
  padding-top: 1rem;
}

.mobile-nav, .mobile-coursenav, .mobileimg {
  display: none;
}

/*  only flex */

.infocontainer, .flexcontainer {
  display: flex;
  }

/* Header Css */

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.logo span {
  color: lightgrey;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
}

.logo strong {
  color: black;
}

.logo img {
  height: 3rem;
}

.navbar  {
  display: flex;
  padding-right: 1.5rem;
  align-items: center;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  color: black;
  padding: 1.4rem 0.5rem;
  transition: background-color 1s linear 0s;
}

.navbar a:hover {
  background-color: silver;
}

/* bannercontainer Css */

.bannercontainer {
  display: flex;
  background-color: lightgrey;
}

.bannercontainer .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%
}

.bannercontainer a {
  padding: 0.5rem 1rem;
  background-color: darkslategrey;
  width: 60%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: lightgrey;
  transition: font-size 1s linear 0s,
  color 1s linear 0s;
}

.bannercontainer a:hover {
  font-size: 2rem;
  color: black;
}

/* infocontainer Css */

.infocontainer h2 {
  padding-bottom: 1.5rem;
}

.infocontainer .left p {
  padding-bottom: 2rem;
}

.infocontainer .right {
  border-left: solid lightgrey 1px;
}

.infocontainer .left, .infocontainer .right {
  padding-bottom: 2rem;
}

/* sidecontainer Css */

.sidecontainer {
  display: flex;
  transition: background-color 1s linear 0s;
}

.sidecontainer img {
  width: 35%;
  height: 100%;
  padding: 1rem;
}

.sideinfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideinfo h3, span {
  padding-bottom: 0.5rem;
}

.sideinfo a {
  color: dodgerblue;
  text-decoration: none;
}

.right .sidecontainer:hover {
  background-color: lightgrey;
}

/* learncontainer Css */

.learncontainer {
  background-color: lavender;
}

.learncontainer h2 {
  text-align: center;
}

.courses {
  padding: 0rem 3.5rem 1rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coursetypes {
  background-color: white;
  margin: 1rem 1rem;

}
.coursetypes img {
  height: auto;
  width: 23rem;
  opacity: 0.7;
  transition: opacity 1s linear;
}

.coursetypes img:hover {
  opacity: 1;
}

.courseinfo {
  padding: 1rem 0rem 1.5rem 1rem;
}

.courseinfo p {
  padding: 0.5rem 0rem;
}

/* exibitcontainer Css */

.exibitcontainer h2 {
  text-align: center;
  padding-bottom: 0rem;
}

.flexcontainer h3 {
  padding-top: 1.5rem;
}


/* Footer Css  */

.footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  border-top: solid lightgrey 1px;
}

.footer p, .footer span {
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
}

/* Mobile screen Css */

@media only screen and (max-width: 470px) {

 /* global */

 .right, .left {
   width: 100%;
 }

 .left {
   padding: 0rem;
 }

/* mobile header Css */

 .logo, .navbar {
   display: none;
 }

 .mobile-nav {
   display: flex;
   justify-content: space-around;
   width: 100%;
 }

 .mobile-nav img {
   padding: 1rem;
   transition: background-color 1s linear;
 }

 .mobile-nav img:hover {
   background-color: silver;
 }

 /* mobile bannercontainer css */

 .bannercontainer {
   width: 100%;
   flex-direction: column;
   align-items: center;
  }

 .bannercontainer .right {
   width: 100%;
   align-items: center;
   padding: 2rem 0rem 2rem 0rem;
 }

 .bannercontainer .right a{
   width: 85%;
 }

/* mobile info container Css */

  .infocontainer .left {
    display: none;
  }

  .infocontainer .right {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .sidecontainer {
    flex-direction: column;
  }

  .sidecontainer img {
    width: 25.4rem;

  }

  .sidecontainerimg{
    display: none;
  }

  .mobileimg {
    display: block;
  }

  .sideinfo {
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

 /* learncontainer Css */

 .learncontainer {
   background-color: ghostwhite;
   border-bottom: lightgrey 1px solid;
 }

 .courses {
   padding: 1rem;
 }

 .coursetypes {
   display: none;
 }

 .mobile-coursenav {
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 .mobile-coursenav a {
   color: dimgrey;
   font-weight: bold;
   text-decoration: none;
   padding: 1rem 0rem 1.5rem 1rem;
   margin-bottom: 1rem;
   background-color: lightgrey;
   text-align: center;
   transition: background-color 1s linear 0s,
   font-size 1s linear 0s;
 }

 .mobile-coursenav a:hover {
   background-color: darkgrey;
   font-size: 1.3rem;
 }

  /* Mobile Exibit Css */

  .exibitcontainer .left h3,
  .exibitcontainer .left p,
  .exibitcontainer .right {
    display: none
  }

  .exibitcontainer .left {
    padding-bottom: 1.5rem;
  }

  .exibitcontainer h2 {
    padding-bottom: 2rem;
  }

 /* Mobile Footer Css */

 .footer span {
   display: none;
 }

 .footer {
   align-items: center;
   font-size: 0.7rem;
   height: auto;
   border: none;
 }
}
