/* Global css */

html {
    font-size: 16px;
}

body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  color: dimgrey;
  background-color: ghostwhite;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.bigpic {
  width: 100%;
}

.left {
    padding: 2rem 1.5rem;
    width: 60%
  }

.right {
  width: 40%;
  padding-top: 1rem;
}


/* Header Css */

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.logo span {
  color: lightgrey;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
}

.logo strong {
  color: black;
}

.logo img {
  height: 3rem;
}

.navbar  {
  display: flex;
  padding-right: 1.5rem;
  align-items: center;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  color: black;
  padding: 1.4rem 0.5rem;
  transition: background-color 1s linear 0s;
}

.navbar a:hover {
  background-color: silver;
}

/* bannercontainer Css */

.bannercontainer {
  display: flex;
  background-color: lightgrey;
}

.bannercontainer .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%
}

.bannercontainer a {
  padding: 0.5rem 1rem;
  background-color: darkslategrey;
  width: 60%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: lightgrey;
  transition: font-size 1s linear 0s,
  color 1s linear 0s;
}

.bannercontainer a:hover {
  font-size: 2rem;
  color: black;
}

/* infocontainer Css */

.infocontainer {
  display: flex;
  }

.infocontainer h2 {
  padding-bottom: 1.5rem;
}

.infocontainer .left p {
  padding-bottom: 2rem;
}

.infocontainer .right {
  border-left: solid lightgrey 1px;
}

.infocontainer .left, .infocontainer .right {
  padding-bottom: 2rem;
}

/* sidecontainer Css */

.sidecontainer {
  display: flex;
  transition: background-color 1s linear 0s;
}

.sidecontainer img {
  width: 35%;
  height: 100%;
  padding: 1rem;
}

.sideinfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideinfo h3, span {
  padding-bottom: 0.5rem;
}

.sideinfo a {
  color: dodgerblue;
  text-decoration: none;
}

.right .sidecontainer:hover {
  background-color: lightgrey;
}

/* learncontainer Css */

.learncontainer {
  background-color: lavender;
}

.learncontainer h2 {
  text-align: center;
}

.courses {
  padding: 0rem 3.5rem 1rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coursetypes {
  background-color: white;
  margin: 1rem 1rem;

}
.coursetypes img {
  height: auto;
  width: 28rem;
}

.courseinfo {
  padding: 1rem 0rem 1.5rem 1rem;
}

.courseinfo p {
  padding: 0.5rem 0rem;
}

/* exibitcontainer Css */

.exibitcontainer h2 {
  text-align: center;
  padding-bottom: 0rem;
}

.flexcontainer {
  display: flex;
}

.flexcontainer h3 {
  padding-top: 1.5rem;
}


/* Footer Css  */

footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  border-top: solid lightgrey 1px;
}

footer p {
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
}
